[submodule "SONOS/node-sonos-http-api"]
	path = SONOS/node-sonos-http-api
	url = https://github.com/jishi/node-sonos-http-api.git
[submodule "SONOS-KIDS-BEN/src"]
	path = SONOS-KIDS-BEN/src
	url = https://github.com/Thyraz/Sonos-Kids-Controller.git
[submodule "Test/src"]
	path = Test/src
	url = https://github.com/Thyraz/Sonos-Kids-Controller.git
